mixin handleError
    script.
        function handleError(error) {
            if (error.response) {
                if (error.response.status >= 500) {
                    UIkit.notification("Internal Server Error", {status: 'warning'})
                } else {
                    var messages = []

                    for (var message in error.response.data.messages) {
                        message = error.response.data.messages[message]
                        messages.push(message.message)
                    }

                    UIkit.notification(messages.join('<br />'), {status: 'danger'})
                }
            }
        }
