extends ../base

block dashboard
    table.uk-table.uk-table-middle.uk-table-divider.uk-table-hover
        thead
            tr
                th #
                th Name
                th.uk-width-small Actions
        tbody
            tr
                td 1
                td Test Server
                td
                    a.uk-button.uk-button-default Manage
    hr.uk-divider-icon
    .uk-flex.uk-flex-right
        a.uk-button.uk-button-default New Server
