extends ../navbar

block main
    br
    h1(style="text-align: center;") Login
    br
    .uk-flex.uk-flex-center
        .uk-card.uk-card-default.uk-card-body(style="")
            form
                .uk-margin
                    .uk-inline
                        span.uk-form-icon(uk-icon="icon: user")
                        input.uk-input(type="text", placeholder="username", id="username")
                .uk-margin
                    .uk-inline
                        span.uk-form-icon(uk-icon="icon: lock")
                        input.uk-input(type="password", placeholder="password", id="password")
                button.uk-button.uk-button-default.uk-width-1-1.uk-button-primary(onclick="login()", id="loginButton") login
            hr
            a.uk-button.uk-button-default.uk-width-1-1.uk-button-secondary(href="/auth/github")
                span(uk-icon="github")
